body{
    background-color: white;
    color: black;
}
.modo-escuro{
    background-color: #0b0d0f;
    color: white;
}
a{
    color: #4493F8;
}
li::marker{
    color: white;
}

button{
    position: absolute;
    top: 5px;
    right: 5px;
}
